<!DOCTYPE html>
<html>
<head>
<title>VueJS School</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  
   <div id='app' class='container'>
     <h1>Ma Liste de course</h1>

     <div class="input-group mb-3">
            <input type="text" v-model="element" class="form-control">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" @click="addItem" type="button">Ajouter</button>
            </div>
    </div>

     <ul class="list-group mb-4" >
         <li class="list-group-item" v-for="item in list">
                <div class="form-inline">
                    <div class="form-group">
                         <input class="form-control" @change="toggleChecked(item.id)" type="checkbox">
                         <label class="ml-1" >{{ item.text}}</label>
                    </div>
                    <div v-if="isChecked( item.id)"  class="input-group ml-2">
                            <div class="input-group-prepend">
                            <span class="input-group-text" >Price : </span>
                            </div>
                            <input class="form-control" type="number" v-model='item.price' @change="editPrice"></input> 
                            <div class="input-group-append">
                                    <span class="input-group-text">€</span>
                        </div>
                        
                    </div>
                    <div class="form-group ml-2">
                        <button class="btn btn-danger" @click="deleteItem( item.id )">Delete</button>
                    </div>
                </div>
        </li>
     </ul>

    <div class="input-group mb-3">
            <div class="input-group-prepend">
                    <span class="input-group-text">Budget : </span>
            </div>
            <input  v-bind:style="bgc" class="form-control" type="number" v-model='budget' @change="editBudget">
            <div class="input-group-append">
                    <span class="input-group-text">€</span>
            </div>
    </div>
     

    <p>Total : {{totalList}} €</p>

   </div>
   
   <script src="https://unpkg.com/vue"></script>
   <script src="web/js/app.js"></script>
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

   

  
</body>
</html>

